.fictional-company-logo {
  position: relative;
  width: 142px;
  height: 32px;
}
.placeholder-icon {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.text {
  position: relative;
  line-height: 24px;
}
.button {
  justify-content: center;
  gap: var(--gap-5xs);
}
.button,
.button1,
.content,
.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button1 {
  overflow: hidden;
  justify-content: center;
  gap: var(--gap-5xs);
}
.content,
.navigation {
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.content {
  gap: var(--gap-21xl);
}
.text4 {
  position: relative;
  line-height: 24px;
  font-weight: 600;
  display: none;
}
.button4 {
  border-radius: var(--br-5xs);
  overflow: hidden;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-lg);
  gap: var(--gap-5xs);
}
.text5 {
  position: relative;
  line-height: 24px;
  font-weight: 600;
}
.button5,
.navigation-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button5 {
  border-radius: var(--br-5xs);
  background-color: var(--primary-500);
  box-shadow: var(--shadow-xs);
  overflow: hidden;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-lg);
  gap: var(--gap-5xs);
  font-size: var(--text-lg-semibold-size);
  color: var(--icterine-500);
  font-family: var(--text-xl-regular);
}
.navigation-actions {
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.shopping-bag-03-icon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.button6,
.nav-item-button {
  overflow: hidden;
  display: flex;
  flex-direction: row;
}
.nav-item-button {
  border-radius: var(--br-7xs);
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs);
}
.button6 {
  align-items: center;
  justify-content: center;
  gap: var(--gap-9xs);
}
.navigation-actions-parent {
  width: 459px;
  flex-direction: row;
  justify-content: flex-end;
  gap: var(--gap-base);
  font-size: var(--text-md-regular-size);
  color: var(--gray-600);
}
.container,
.header,
.navigation-actions-parent {
  display: flex;
  align-items: center;
}
.container {
  width: 1280px;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-21xl);
  box-sizing: border-box;
}
.header {
  position: absolute;
  top: 0;
  left: calc(50% - 640px);
  height: 80px;
  flex-direction: column;
  justify-content: center;
}
.full-width-header-navigation,
.full-width-header-navigation1 {
  background-color: var(--color-ivory-100);
  border-bottom: 1px solid var(--gray-100);
  box-sizing: border-box;
  height: 80px;
}
.full-width-header-navigation1 {
  position: absolute;
  top: -1px;
  left: 0;
  width: 1440px;
}
.full-width-header-navigation {
  align-self: stretch;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  font-size: var(--text-lg-semibold-size);
}
.t-ngay-ba {
  margin: 0;
}
.heading1 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: -0.02em;
  line-height: 74px;
  display: inline-block;
  width: 600px;
}
.heading {
  position: relative;
  width: 600px;
  height: 222px;
}
.heading-and-subheading {
  width: 768px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.supporting-text {
  position: relative;
  font-size: var(--text-lg-semibold-size);
  line-height: 24px;
  font-weight: 500;
  font-family: var(--text-xl-regular);
  color: var(--color-floralwhite);
  display: inline-block;
  width: 600px;
}
.heading-and-supporting-text {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.label {
  position: relative;
  line-height: 20px;
  font-weight: 500;
  display: none;
}
.marker-pin-03-icon {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.text7 {
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.button7,
.content2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-base);
  gap: var(--gap-base);
}
.button7 {
  border-radius: 90px;
  background-color: var(--primary-500);
  box-shadow: var(--shadow-xs);
  overflow: hidden;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-sm);
  gap: var(--gap-5xs);
  font-size: var(--text-md-regular-size);
  color: var(--icterine-500);
  font-family: var(--text-xl-regular);
}
.input,
.input-with-label {
  display: flex;
  justify-content: flex-start;
}
.input {
  border-radius: 99px;
  background-color: var(--color-floralwhite);
  box-shadow: var(--shadow-xs);
  border: 1px solid var(--gray-300);
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-3xs) var(--padding-sm);
  gap: var(--gap-5xs);
  font-size: var(--text-lg-semibold-size);
  color: var(--gray-500);
}
.input-with-label {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-7xs);
}
.hint-text {
  position: relative;
  line-height: 20px;
  color: var(--gray-600);
  display: none;
  width: 320px;
}
.input-dropdown {
  width: 450px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.content1,
.input-dropdown,
.input-dropdown-wrapper {
  display: flex;
  align-items: flex-start;
}
.input-dropdown-wrapper {
  flex-direction: row;
  justify-content: center;
  font-size: var(--text-sm-semibold-size);
  color: var(--gray-700);
}
.content1 {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-29xl);
}
.screen-shot-2023-08-29-at-11-2-icon {
  position: relative;
  width: 656.46px;
  height: 390px;
  object-fit: cover;
}
.container1,
.hero-section {
  display: flex;
  align-items: center;
}
.container1 {
  width: 1240px;
  flex-direction: row;
  justify-content: space-between;
}
.hero-section {
  align-self: stretch;
  background-color: var(--primary-500);
  height: 539px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-21xl) 0;
  box-sizing: border-box;
  font-size: 60px;
  color: var(--color-yellowgreen-100);
}
.customer-say {
  position: relative;
  display: inline-block;
  width: 1232px;
}
.gim-gi {
  position: relative;
  line-height: 20px;
}
.gim-gi-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.ec276a4eb-62aa10dfb2adca268416-icon {
  position: relative;
  border-radius: 12.61px;
  width: 312px;
  height: 231.79px;
  object-fit: cover;
}
.ec276a4eb-62aa10dfb2adca268416-wrapper {
  align-self: stretch;
  border-radius: var(--br-xs);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.star-icon-parent {
  width: 184.5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-9xs);
  font-size: var(--text-sm-semibold-size);
  color: var(--full-white);
}
.frame-parent,
.gim-gi-parent {
  align-self: stretch;
  display: flex;
}
.gim-gi-parent {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
}
.frame-parent {
  border-radius: var(--br-5xl) var(--br-5xl) 0 0;
  background-color: var(--primary-500);
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-base);
}
.heading2 {
  flex: 1;
  position: relative;
  line-height: 32px;
}
.icon-wrap {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.heading-and-icon {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.by {
  font-weight: 500;
}
.the-chef-town {
  color: var(--color-mediumslateblue);
}
.supporting-text2 {
  align-self: stretch;
  position: relative;
  font-size: var(--text-sm-semibold-size);
  line-height: 20px;
  color: var(--gray-600);
}
.heading-and-icon-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  font-size: var(--font-size-5xl);
  color: var(--gray-900);
}
.kcal {
  position: relative;
  line-height: 20px;
  font-weight: 600;
}
.marker-pin-02-parent {
  border-radius: var(--br-xs);
  align-items: center;
  justify-content: center;
  gap: var(--gap-11xs);
}
.frame-group,
.marker-pin-02-parent,
.star-icon-group {
  display: flex;
  flex-direction: row;
}
.star-icon-group {
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-9xs);
  color: var(--gray-500);
}
.frame-group {
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.marker-pin-02-group {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.marker-pin-02-group,
.timer-parent {
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.categories,
.frame-container,
.timer-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.frame-container {
  justify-content: flex-start;
  gap: var(--gap-5xs);
  color: var(--gray-500);
}
.categories {
  align-self: stretch;
  justify-content: space-between;
  color: var(--color-yellowgreen-100);
}
.luc {
  font-weight: 600;
}
.hnh-ty-tiu {
  font-weight: 500;
  color: var(--gray-600);
}
.supporting-text6 {
  align-self: stretch;
  position: relative;
  font-size: var(--text-sm-semibold-size);
  line-height: 20px;
  color: var(--color-mediumslateblue);
}
.supporting-text7 {
  position: relative;
  text-decoration: line-through;
  line-height: 24px;
  z-index: 0;
}
.heading3 {
  position: relative;
  font-size: var(--font-size-5xl);
  line-height: 30px;
  color: var(--base-black);
  z-index: 1;
}
.avatar-add-button,
.content4 {
  position: absolute;
  box-sizing: border-box;
}
.content4 {
  height: 68.29%;
  width: 68.29%;
  top: 14.63%;
  right: 17.07%;
  bottom: 17.07%;
  left: 14.63%;
  border-radius: var(--br-xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xs);
}
.avatar-add-button {
  margin: 0 !important;
  top: 3.5px;
  left: 294.5px;
  border-radius: var(--br-xl);
  background-color: var(--full-white);
  border: 1px dashed var(--gray-300);
  width: 41px;
  height: 41px;
  z-index: 2;
}
.pricing {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-5xs);
}
.supporting-text8 {
  flex: 1;
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.frame-div,
.frame-parent1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.frame-div {
  align-self: stretch;
}
.frame-parent1 {
  width: 334px;
}
.heading-and-text-inner {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.content3,
.heading-and-text,
.heading-and-text-inner {
  flex-direction: column;
  justify-content: flex-start;
}
.heading-and-text {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  gap: var(--gap-9xs);
}
.content3 {
  width: 384px;
  padding: var(--padding-5xs) var(--padding-5xl);
  box-sizing: border-box;
  color: var(--gray-600);
}
.content3,
.food-card,
.foodcard {
  display: flex;
  align-items: flex-start;
}
.food-card {
  border-radius: var(--br-5xl);
  background-color: var(--full-white);
  box-shadow: var(--shadow-md);
  width: 384px;
  flex-direction: column;
  justify-content: flex-start;
}
.foodcard {
  width: 1232px;
  flex-direction: row;
  justify-content: space-between;
  font-size: var(--text-md-regular-size);
  color: var(--color-gold);
}
.reviews,
.testimonial-section-5 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.reviews {
  align-items: center;
  gap: var(--gap-29xl);
}
.testimonial-section-5 {
  background-color: var(--color-ivory-100);
  overflow: hidden;
  align-items: flex-start;
  padding: var(--padding-31xl) var(--padding-21xl);
}
.customer-say1 {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 60px;
  display: inline-block;
  width: 1232px;
}
.reviews1 {
  width: 1232px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.group-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-honeydew-100);
  border: 1.4px solid var(--color-yellowgreen-100);
  box-sizing: border-box;
  width: 57px;
  height: 56px;
}
.div {
  position: absolute;
  top: 19.6px;
  left: 22.8px;
  line-height: 17.1px;
  font-weight: 600;
  display: inline-block;
  width: 10px;
  height: 17.68px;
}
.ellipse-parent {
  position: relative;
  width: 57px;
  height: 56px;
}
.heading8 {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 24px;
  display: inline-block;
  width: 228px;
}
.mask-group-icon {
  position: relative;
  width: 186px;
  height: 186px;
  object-fit: cover;
}
.tm-cc-mn {
  position: relative;
  font-size: var(--text-lg-semibold-size);
  line-height: 24px;
  font-weight: 500;
  color: var(--primary-500);
  display: inline-block;
  width: 305px;
  height: 42px;
  flex-shrink: 0;
}
.group-parent,
.heading-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.heading-parent {
  gap: var(--gap-5xl);
  font-size: var(--font-size-11xl);
  color: var(--color-darkslategray-100);
}
.group-parent {
  height: 354px;
  gap: var(--gap-17xl);
}
.group-item {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-honeydew-100);
  border: 1.4px solid var(--color-yellowgreen-100);
  box-sizing: border-box;
  width: 56px;
  height: 56px;
}
.div1 {
  position: absolute;
  top: 19.6px;
  left: 20.3px;
  line-height: 16.8px;
  font-weight: 600;
}
.ellipse-group {
  position: relative;
  width: 56px;
  height: 56px;
}
.mask-group-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--primary-500);
  width: 186px;
  height: 186px;
}
.background-icon,
.your-image1 {
  position: absolute;
  object-fit: cover;
}
.background-icon {
  top: 24.11px;
  left: calc(50% - 51.46px);
  width: 102.92px;
  height: 148.59px;
}
.your-image1 {
  top: 0;
  left: 0;
  width: 42.34px;
  height: 89.86px;
}
.changing-storytelling-in {
  position: absolute;
  top: 61.87px;
  left: 4.5px;
  font-size: 1.57px;
  line-height: 130%;
  font-family: var(--font-svn-circular);
  color: var(--color-gray-300);
  display: flex;
  align-items: center;
  width: 20.13px;
}
.rectangle-div {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 2.34px 2.34px 0 0;
  background-color: var(--color-darkslategray-100);
  width: 37.42px;
  height: 28.35px;
}
.mask-group-icon1 {
  position: absolute;
  top: 4.59px;
  left: 4.36px;
  width: 30.34px;
  height: 22.14px;
  object-fit: cover;
}
.gim-gi6 {
  position: relative;
  line-height: 1.95px;
  display: inline-block;
  width: 5.97px;
  flex-shrink: 0;
}
.gim-gi-wrapper1 {
  position: absolute;
  top: 1.11px;
  left: 1.52px;
  border-radius: 1.17px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.5846230983734131px 0.7794975638389587px;
}
.rectangle-parent {
  position: relative;
  width: 37.42px;
  height: 28.35px;
}
.heading10 {
  flex: 1;
  position: relative;
  line-height: 3.12px;
}
.arrow-up-right-icon3 {
  position: relative;
  width: 2.34px;
  height: 2.34px;
  overflow: hidden;
  flex-shrink: 0;
}
.heading-and-icon3,
.icon-wrap3 {
  align-items: flex-start;
  justify-content: flex-start;
}
.icon-wrap3 {
  display: none;
  flex-direction: column;
  padding: 0.38974878191947937px 0 0;
}
.heading-and-icon3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  gap: 1.56px;
}
.supporting-text28 {
  align-self: stretch;
  position: relative;
  font-size: 1.36px;
  line-height: 1.95px;
  font-weight: 500;
  color: var(--gray-600);
}
.heading-and-icon-parent1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.39px;
}
.star-icon6 {
  position: relative;
  width: 1.95px;
  height: 1.95px;
  overflow: hidden;
  flex-shrink: 0;
}
.supporting-text29 {
  position: relative;
  line-height: 2.34px;
}
.star-icon-parent4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.39px;
}
.marker-pin-02-icon6 {
  position: relative;
  width: 1.56px;
  height: 1.56px;
  overflow: hidden;
  flex-shrink: 0;
}
.calories,
.kcal3 {
  width: 6.53px;
  height: 2.34px;
}
.kcal3 {
  position: absolute;
  top: 0;
  right: 0;
  line-height: 1.89px;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.calories {
  position: relative;
}
.categories3,
.marker-pin-02-parent5 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.39px;
  font-family: var(--text-md-regular);
}
.categories3 {
  align-self: stretch;
  gap: 1.56px;
  font-size: 1.56px;
  color: var(--gray-500);
  font-family: var(--text-xl-regular);
}
.heading-and-text3 {
  align-self: stretch;
  gap: 0.78px;
}
.content9,
.food-card-container,
.food-card-wrapper,
.food-card3,
.heading-and-text3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.content9 {
  width: 37.42px;
  padding: 2.4943923950195312px 2.3384923934936523px;
  box-sizing: border-box;
  font-size: 2.34px;
  color: var(--gray-900);
}
.food-card-container,
.food-card-wrapper,
.food-card3 {
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.food-card3 {
  border-radius: 2.34px;
  background-color: var(--full-white);
  box-shadow: 0 0.19487439095973969px 0.39px -0.19px rgba(16, 24, 40, 0.06);
  width: 37.42px;
}
.food-card-container,
.food-card-wrapper {
  position: absolute;
  top: 12.44px;
  left: 39.87px;
}
.food-card-container {
  top: 56.73px;
  left: 40.01px;
}
.mn-ngon-hm {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 3.27px;
}
.vuesaxlineararrow-right-icon {
  position: relative;
  width: 2.62px;
  height: 2.62px;
}
.mn-ngon-hm-nay-parent {
  position: absolute;
  top: 7.86px;
  left: 2.62px;
  width: 36.66px;
  height: 2.78px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 2.29px;
  color: var(--primary-500);
}
.elements-iphone-x-status-b,
.self-care {
  position: absolute;
  top: 1.51px;
  left: 1.61px;
  width: 37.83px;
  height: 4.62px;
}
.self-care {
  top: 0;
  left: 0.2px;
  background-color: var(--color-ivory-100);
  width: 42.1px;
  height: 92.52px;
  overflow: hidden;
}
.home-indicator {
  position: absolute;
  bottom: 0.86px;
  left: calc(50% - 7.17px);
  border-radius: 10.77px;
  background-color: var(--full-white);
  width: 14.44px;
  height: 0.54px;
}
.homeindicator {
  position: absolute;
  bottom: -0.14px;
  left: calc(50% - 21.4px);
  width: 42.34px;
  height: 3.66px;
}
.image-frame,
.your-image {
  position: absolute;
  height: 89.86px;
}
.image-frame {
  top: 0;
  left: 0.05px;
  background-color: #cfcfcf;
  width: 42.34px;
  overflow: hidden;
}
.your-image {
  top: 26.34px;
  left: 6.22px;
  width: 42.62px;
}
.your-image-wrapper {
  position: absolute;
  top: 0;
  left: 5.49px;
  width: 62.73px;
  height: 123.06px;
}
.background-parent {
  position: absolute;
  top: 13px;
  left: calc(50% - 32px);
  width: 102.92px;
  height: 172.7px;
}
.mask-group {
  position: relative;
  width: 186px;
  height: 186px;
  text-align: left;
  font-size: 1.36px;
  color: var(--color-gold);
}
.chn-v-iu {
  position: relative;
  font-size: var(--text-lg-semibold-size);
  line-height: 24px;
  font-weight: 500;
  color: var(--primary-500);
  display: inline-block;
  width: 305px;
}
.group-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-17xl);
  font-size: var(--font-size-6xl-2);
}
.div2 {
  position: absolute;
  top: 19.6px;
  left: 20.3px;
  line-height: 17.1px;
  font-weight: 600;
  display: inline-block;
  width: 13.75px;
  height: 17.68px;
}
.group-parent1 {
  height: 366px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-17xl);
}
.frame-parent12 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1232px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.group-child1,
.group-child2,
.line-div {
  position: absolute;
  top: 28px;
  left: 236.14px;
  border-top: 2px dashed var(--color-yellowgreen-100);
  box-sizing: border-box;
  width: 143.72px;
  height: 2px;
}
.group-child1,
.group-child2 {
  top: 27px;
  left: 544.14px;
}
.group-child2 {
  left: 871.98px;
}
.group-div {
  position: relative;
  width: 1232px;
  height: 422px;
  font-size: 25.65px;
}
.testimonial-section-51 {
  background-color: var(--color-ivory-100);
  width: 1366px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-31xl) var(--padding-21xl);
  box-sizing: border-box;
  gap: var(--gap-17xl);
  text-align: center;
  color: var(--color-yellowgreen-100);
}
.component-9-child,
.component-9-item {
  position: absolute;
  height: 99.75%;
  width: 50%;
  top: 0;
  right: 0;
  bottom: 0.25%;
  left: 50%;
  background-color: var(--color-honeydew-100);
}
.component-9-item {
  top: 0.25%;
  right: 50%;
  bottom: 0;
  left: 0;
  background-color: var(--primary-500);
  display: none;
}
.component-9-inner {
  position: absolute;
  height: 74.64%;
  width: 41.16%;
  top: 12.11%;
  right: 4.33%;
  bottom: 13.25%;
  left: 54.51%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.heading14,
.number {
  position: relative;
  font-weight: 600;
}
.heading14 {
  letter-spacing: -0.02em;
  line-height: 60px;
  display: inline-block;
  width: 768px;
}
.number {
  line-height: 28px;
}
.content11,
.pagination-number-base {
  border-radius: var(--br-xl);
  box-sizing: border-box;
  width: 40px;
  height: 40px;
}
.content11 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs);
}
.pagination-number-base {
  position: relative;
  background-color: var(--color-gray-200);
  backdrop-filter: blur(30px);
  border: 1px solid var(--color-gray-100);
  overflow: hidden;
  flex-shrink: 0;
}
.text9 {
  align-self: stretch;
  position: relative;
  font-size: var(--text-xl-regular-size);
  line-height: 30px;
  font-weight: 600;
  font-family: var(--text-md-regular);
  color: var(--icterine-500);
}
.tm-cc-mn1 {
  margin-block-start: 0;
  margin-block-end: 16px;
  font-weight: 500;
}
.supporting-text34,
.text10 {
  align-self: stretch;
  position: relative;
}
.supporting-text34 {
  font-size: var(--text-md-regular-size);
  line-height: 24px;
  display: inline-block;
  height: 60px;
  flex-shrink: 0;
  font-family: var(--text-md-regular);
}
.text10 {
  font-size: var(--text-xl-regular-size);
  line-height: 30px;
  font-weight: 600;
  color: var(--icterine-500);
}
.chn-v-iu1 {
  margin-block-start: 0;
  margin-block-end: 16px;
}
.supporting-text35,
.supporting-text36,
.supporting-text37 {
  position: relative;
  font-size: var(--text-md-regular-size);
  line-height: 24px;
  display: inline-block;
  height: 60px;
  flex-shrink: 0;
}
.supporting-text35 {
  font-weight: 500;
  font-family: var(--text-md-regular);
  width: 286px;
}
.supporting-text36,
.supporting-text37 {
  align-self: stretch;
}
.supporting-text36 {
  font-weight: 500;
  font-family: var(--text-md-regular);
}
.supporting-text37 {
  font-family: var(--text-xl-regular);
}
.text-and-supporting-text {
  align-self: stretch;
  display: flex;
  gap: var(--gap-5xs);
}
.feature-text-number,
.heading-parent2,
.text-and-supporting-text {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.feature-text-number {
  width: 315px;
  height: 608px;
  display: flex;
  font-size: var(--text-lg-semibold-size);
  color: var(--full-white);
  font-family: var(--text-xl-semibold);
}
.heading-parent2 {
  position: absolute;
  top: 55px;
  left: -24px;
  display: none;
  gap: var(--gap-5xl);
}
.component-9 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1366px;
  height: 801px;
}
.heading15,
.role {
  position: relative;
  font-weight: 600;
}
.heading15 {
  letter-spacing: -0.02em;
  line-height: 60px;
}
.role {
  align-self: stretch;
  line-height: 16.67px;
  display: none;
}
.role-and-supporting-text-child {
  position: relative;
  width: 31.15px;
  height: 29.51px;
}
.name-and-supporting-text,
.role-and-supporting-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.role-and-supporting-text {
  align-self: stretch;
  gap: 2.38px;
}
.name-and-supporting-text {
  position: absolute;
  top: 14px;
  left: 13.13px;
}
.enjoy-food {
  position: relative;
  border-radius: var(--br-2xs-5);
  background-color: var(--color-gray-200);
  border: 0.9px solid var(--full-white);
  box-sizing: border-box;
  width: 56px;
  height: 56px;
  overflow: hidden;
  flex-shrink: 0;
  text-align: left;
}
.tm-mn-n {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  font-size: 10.71px;
  color: var(--full-white);
}
.nutrition-icon {
  position: relative;
  border-radius: var(--br-2xs-5);
  width: 56px;
  height: 56px;
  overflow: hidden;
  flex-shrink: 0;
}
.supporting-text39,
.text14 {
  align-self: stretch;
  position: relative;
  line-height: 30px;
  font-weight: 600;
}
.supporting-text39 {
  font-size: var(--text-md-regular-size);
  line-height: 24px;
  font-weight: 500;
  font-family: var(--text-md-regular);
  color: var(--full-white);
  display: inline-block;
  height: 60px;
  flex-shrink: 0;
}
.text-and-supporting-text1 {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.feature-text-number1,
.heading-parent3,
.text-and-supporting-text1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feature-text-number1 {
  width: 335px;
  justify-content: flex-start;
  font-size: var(--text-xl-regular-size);
  font-family: var(--text-xl-semibold);
}
.heading-parent3 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--primary-500);
  width: 720px;
  height: 799px;
  justify-content: center;
  padding: 36px var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-17xl);
}
.component-9-parent {
  position: relative;
  width: 1366px;
  height: 801px;
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--icterine-500);
}
.customer-say2,
.path-173-icon {
  position: relative;
}
.path-173-icon {
  width: 41.73px;
  height: 31.47px;
}
.agueda-scoggins,
.one-year-with {
  position: absolute;
  top: 23.03px;
  right: 0;
  line-height: 18.57px;
  font-weight: 500;
}
.agueda-scoggins {
  top: 0;
  right: 31px;
  font-size: 14.86px;
  line-height: 22.29px;
  font-family: var(--font-poppins);
}
.text16 {
  position: absolute;
  top: 4.27px;
  right: 0;
  width: 124px;
  height: 42.03px;
}
.pic-icon,
.pic-text {
  position: absolute;
  top: 0;
  height: 50.52px;
}
.pic-icon {
  right: 138.86px;
  width: 50.52px;
  object-fit: cover;
}
.pic-text {
  right: 120.45px;
  width: 189.37px;
}
.path-173-parent {
  position: relative;
  width: 309.82px;
  height: 50.52px;
}
.review {
  align-self: stretch;
  position: relative;
  font-size: var(--text-lg-semibold-size);
  line-height: 24px;
  font-weight: 600;
}
.review-1,
.stars {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.review-1 {
  flex: 1;
  border-radius: var(--br-5xl);
  background-color: var(--full-white);
  box-shadow: 0 3px 10px 3px rgba(240, 255, 219, 0.7);
  border: 1px solid var(--color-palegoldenrod);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-21xl) var(--padding-13xl);
  gap: var(--gap-base);
}
.review1 {
  align-self: stretch;
  position: relative;
  line-height: 21px;
  font-weight: 500;
}
.review-group-small,
.review-small {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.review-small {
  align-self: stretch;
  border-radius: var(--br-5xl);
  background-color: var(--full-white);
  box-shadow: 0 3px 10px 3px rgba(240, 255, 219, 0.7);
  border: 1px solid var(--color-palegoldenrod);
  box-sizing: border-box;
  width: 400px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-21xl);
  gap: var(--gap-xs);
}
.review-group-small {
  flex: 1;
  flex-direction: row;
  gap: var(--gap-base);
}
.carousel-arrow {
  border-radius: var(--br-lg);
  background-color: var(--color-palegoldenrod);
  backdrop-filter: var(--background-blur-sm);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs);
}
.pagination-dot-indicator,
.pagination-dot-indicator1,
.pagination-dot-indicator3 {
  position: relative;
  border-radius: var(--br-9xs);
  width: 8px;
  height: 8px;
  overflow: hidden;
  flex-shrink: 0;
  mix-blend-mode: multiply;
}
.pagination-dot-indicator {
  background-color: #b7eb52;
}
.pagination-dot-indicator1,
.pagination-dot-indicator3 {
  background-color: var(--gray-200);
}
.pagination-dot-indicator3 {
  display: none;
}
.pagination-dot-group,
.paginator {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xs);
}
.paginator {
  align-self: stretch;
  height: 41.52px;
  justify-content: flex-end;
  padding: 0 var(--padding-21xl);
  box-sizing: border-box;
  gap: var(--gap-13xl);
}
.review-group-small-parent {
  height: 298.52px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-21xl);
  font-size: var(--text-md-regular-size);
}
.review-group-small-parent,
.reviews2,
.reviews3 {
  display: flex;
  justify-content: flex-start;
}
.reviews3 {
  width: 1280px;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-base);
  font-size: 11.89px;
}
.reviews2 {
  position: absolute;
  top: 156px;
  left: calc(50% - 640px);
  flex-direction: column;
  align-items: center;
  gap: var(--gap-45xl);
}
.testimonial-section-4 {
  position: relative;
  background-color: var(--color-ivory-100);
  width: 1366px;
  height: 755px;
  overflow: hidden;
  flex-shrink: 0;
}
.heading16,
.supporting-text41 {
  position: relative;
  display: inline-block;
  width: 448px;
}
.heading16 {
  letter-spacing: -0.02em;
  line-height: 44px;
}
.supporting-text41 {
  font-size: var(--text-xl-regular-size);
  line-height: 30px;
  font-weight: 500;
  color: var(--gray-600);
}
.heading-and-supporting-text1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}
.label1 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.content17 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.help-icon {
  position: relative;
  width: 16px;
  height: 16px;
  display: none;
}
.input1 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--full-white);
  box-shadow: var(--shadow-xs);
  border: 1px solid var(--gray-300);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-sm);
  gap: var(--gap-5xs);
  font-size: var(--text-md-regular-size);
  color: var(--gray-500);
}
.hint-text1 {
  align-self: stretch;
  position: relative;
  line-height: 20px;
  color: var(--gray-600);
  display: none;
}
.input-field {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.input3,
.row {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
}
.row {
  display: none;
  align-items: flex-start;
  gap: var(--gap-13xl);
  font-size: var(--text-sm-semibold-size);
}
.input3 {
  border-radius: var(--br-5xs);
  background-color: var(--full-white);
  box-shadow: var(--shadow-xs);
  border: 1px solid var(--gray-300);
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: var(--padding-3xs) var(--padding-sm);
  gap: var(--gap-5xs);
  color: var(--gray-500);
}
.hint-text3 {
  align-self: stretch;
  position: relative;
  font-size: var(--text-sm-semibold-size);
  line-height: 20px;
  color: var(--gray-600);
  display: none;
}
.dropdown,
.text-input {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.dropdown {
  align-self: stretch;
  overflow: hidden;
  justify-content: space-between;
  padding: var(--padding-3xs) 0 var(--padding-3xs) var(--padding-sm);
}
.text-input {
  flex: 1;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-sm) var(--padding-3xs)
    var(--padding-xs);
  gap: var(--gap-5xs);
  color: var(--gray-500);
}
.input-field3,
.input4 {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
}
.input4 {
  border-radius: var(--br-5xs);
  background-color: var(--full-white);
  box-shadow: var(--shadow-xs);
  border: 1px solid var(--gray-300);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  font-size: var(--text-md-regular-size);
  color: var(--gray-900);
}
.input-field3 {
  display: none;
  flex-direction: column;
  gap: var(--gap-7xs);
  font-size: var(--text-sm-semibold-size);
}
.text21 {
  align-self: stretch;
  flex: 1;
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.input-with-label5,
.input5,
.textarea-input-field {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.input5 {
  flex: 1;
  border-radius: var(--br-5xs);
  background-color: var(--full-white);
  box-shadow: var(--shadow-xs);
  border: 1px solid var(--gray-300);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-sm);
  color: var(--gray-500);
}
.input-with-label5,
.textarea-input-field {
  flex-direction: column;
  gap: var(--gap-7xs);
}
.input-with-label5 {
  flex: 1;
}
.textarea-input-field {
  height: 160px;
}
.checkbox-base {
  position: relative;
  border-radius: var(--br-7xs);
  background-color: var(--full-white);
  border: 1px solid var(--gray-300);
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.input6 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xs) 0 0;
}
.supporting-text42,
.text22 {
  align-self: stretch;
  position: relative;
  line-height: 24px;
}
.text22 {
  font-weight: 500;
}
.supporting-text42 {
  font-family: var(--text-xl-regular);
  display: none;
}
.text-and-supporting-text2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.image-10-icon {
  position: relative;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.checkbox,
.form-fields {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.checkbox {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-xs);
  color: var(--gray-600);
}
.form-fields {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-5xl);
}
.placeholder-icon12 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.text23 {
  position: relative;
  line-height: 30px;
}
.button8 {
  align-self: stretch;
  border-radius: 32px;
  background-color: var(--color-darkslategray-100);
  box-shadow: var(--shadow-xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) 28px;
  gap: var(--gap-xs);
}
.actions,
.form {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
}
.actions {
  box-shadow: var(--shadow-md);
  display: flex;
  flex-direction: column;
  font-size: var(--text-xl-regular-size);
  color: var(--icterine-500);
}
.form {
  gap: var(--gap-13xl);
  font-size: var(--text-md-regular-size);
  color: var(--gray-700);
}
.content15,
.content16,
.form {
  display: flex;
  flex-direction: column;
}
.content16 {
  width: 480px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-29xl);
}
.content15 {
  position: absolute;
  top: 0;
  left: 31px;
  border-radius: var(--br-5xl);
  background-color: var(--full-white);
  box-shadow: var(--shadow-xl);
  width: 576px;
  height: 768px;
  align-items: center;
  justify-content: center;
}
.st-child {
  box-shadow: 0 17.399578094482422px 26.1px rgba(70, 70, 70, 0.05);
}
.st-child,
.st-item {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-mid-4);
  background-color: var(--full-white);
  width: 159px;
  height: 77px;
}
.chicken-hell,
.image,
.text24 {
  position: absolute;
  top: 0;
  right: 0;
}
.chicken-hell {
  line-height: 140%;
}
.image,
.text24 {
  width: 39px;
  height: 25px;
}
.image {
  top: 24px;
  right: 23px;
}
.image-36x36-icon {
  position: absolute;
  top: 14px;
  left: 22px;
  border-radius: 9.73px;
  width: 54px;
  height: 51px;
  object-fit: cover;
}
.st {
  position: absolute;
  top: 418px;
  left: 0;
  box-shadow: var(--shadow-2xl);
  width: 159px;
  height: 77px;
}
.eec683aaf-4a9394222d47f1b9b99b-icon {
  position: absolute;
  height: 59.86%;
  width: 77.01%;
  top: 16.57%;
  right: 18.8%;
  bottom: 23.57%;
  left: 4.19%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.st-inner {
  box-shadow: 0 17.399578094482422px 26.1px rgba(70, 70, 70, 0.05);
}
.st-child1,
.st-inner {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-mid-4);
  background-color: var(--full-white);
  width: 299.27px;
  height: 76.56px;
}
.div4 {
  position: absolute;
  top: 26.97px;
  right: 98px;
  font-size: 11.17px;
  line-height: 140%;
  font-weight: 600;
}
.text25 {
  top: 0;
  right: 0;
  width: 164px;
  height: 42.97px;
}
.image1,
.text25,
.time {
  position: absolute;
}
.image1 {
  top: 14.79px;
  right: 31.42px;
  width: 164px;
  height: 42.97px;
}
.time {
  top: 49.13px;
  right: 17.18px;
  font-size: 11.31px;
  line-height: 140%;
  font-weight: 600;
  color: var(--dark-grey);
}
.ec276a4eb-62aa10dfb2adca268416-icon3 {
  position: absolute;
  top: 12.28px;
  left: 23.45px;
  border-radius: 5.88px;
  width: 68.39px;
  height: 50.81px;
  object-fit: cover;
}
.st1 {
  position: absolute;
  top: 0;
  left: 226px;
  box-shadow: -10.439745903015137px 13.049683570861816px 21.75px
    rgba(0, 0, 0, 0.15);
  width: 299.27px;
  height: 76.56px;
  font-size: 17.87px;
}
.st-child2,
.st-child3 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 14.74px;
  background-color: var(--full-white);
  height: 65.22px;
}
.st-child2 {
  box-shadow: 0 14.737347602844238px 22.11px rgba(70, 70, 70, 0.05);
  width: 143.14px;
}
.st-child3 {
  width: 155px;
}
.text26 {
  top: 0;
  right: 0;
  width: 60px;
  height: 22px;
}
.image2,
.st2,
.text26 {
  position: absolute;
}
.image2 {
  top: 18.63px;
  right: 20.46px;
  width: 60px;
  height: 22px;
}
.st2 {
  top: 0;
  left: 0;
  box-shadow: -8.8424072265625px 11.053009986877441px 18.42px
    rgba(0, 0, 0, 0.15);
  width: 155px;
  height: 65.22px;
}
.image-36x36-icon1 {
  position: absolute;
  top: 11.86px;
  left: 17.79px;
  border-radius: 8.47px;
  width: 44.04px;
  height: 41.5px;
  object-fit: cover;
}
.st-group,
.st-parent {
  position: absolute;
  top: 345px;
  left: 336px;
  width: 155px;
  height: 65.22px;
  font-size: var(--text-md-regular-size);
}
.st-parent {
  top: 117px;
  left: 736px;
  width: 525.27px;
  height: 495px;
  font-size: var(--text-lg-semibold-size);
}
.container2 {
  flex: 1;
  position: relative;
  width: 1280px;
}
.contact-page-header {
  background-color: #afccad;
  width: 1366px;
  height: 960px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-77xl) 0;
  box-sizing: border-box;
  font-size: 36px;
  color: var(--gray-900);
}
.heading17,
.supporting-text43 {
  align-self: stretch;
  position: relative;
}
.heading17 {
  letter-spacing: -0.02em;
  line-height: 60px;
  font-weight: 600;
}
.supporting-text43 {
  font-size: var(--text-xl-regular-size);
  line-height: 30px;
  font-family: var(--text-xl-regular);
  color: var(--full-white);
}
.mobile-app-store-badge,
.mobile-app-store-badge1 {
  position: relative;
  border-radius: 7px;
  width: 132px;
  height: 44px;
  mix-blend-mode: normal;
}
.mobile-app-store-badge1 {
  border-radius: 5px;
  width: 148.5px;
  overflow: hidden;
  flex-shrink: 0;
}
.actions1,
.content20 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.content20 {
  align-self: stretch;
  flex: 1;
  flex-direction: column;
  gap: var(--gap-29xl);
}
.foodbox-2-1,
.foodbox-5-1 {
  position: absolute;
  top: 261px;
  left: -580px;
  width: 424px;
  height: 424px;
  object-fit: cover;
}
.foodbox-5-1 {
  top: 200px;
  left: -180.11px;
  width: 230.22px;
  height: 218px;
}
.content21 {
  flex: 1;
  position: relative;
  height: 400px;
}
.container3 {
  width: 1280px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-13xl);
  box-sizing: border-box;
  gap: var(--gap-45xl);
}
.changing-storytelling-in1,
.cta-section {
  position: absolute;
  display: flex;
  align-items: center;
}
.cta-section {
  top: 0;
  left: 0;
  background-color: var(--color-darkslategray-100);
  width: 1440px;
  overflow: hidden;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-77xl) 0;
  box-sizing: border-box;
}
.changing-storytelling-in1 {
  top: 476.59px;
  left: 34.65px;
  line-height: 130%;
  font-family: var(--font-svn-circular);
  width: 155.05px;
}
.frame-child4 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 18.01px 18.01px 0 0;
  background-color: var(--color-darkslategray-100);
  width: 288.22px;
  height: 218.41px;
}
.mask-group-icon5 {
  position: absolute;
  top: 35.37px;
  left: 33.58px;
  width: 233.71px;
  height: 170.52px;
  object-fit: cover;
}
.gim-gi8 {
  position: relative;
  line-height: 15.01px;
  display: inline-block;
  width: 46px;
  flex-shrink: 0;
}
.gim-gi-wrapper3 {
  position: absolute;
  top: 8.54px;
  left: 11.7px;
  border-radius: 9.01px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 4.503360748291016px 6.004481792449951px;
}
.rectangle-container {
  position: relative;
  width: 288.22px;
  height: 218.41px;
}
.heading18 {
  flex: 1;
  position: relative;
  line-height: 24.02px;
}
.arrow-up-right-icon5 {
  position: relative;
  width: 18.01px;
  height: 18.01px;
  overflow: hidden;
  flex-shrink: 0;
}
.heading-and-icon5,
.icon-wrap5 {
  align-items: flex-start;
  justify-content: flex-start;
}
.icon-wrap5 {
  display: none;
  flex-direction: column;
  padding: 3.0022408962249756px 0 0;
}
.heading-and-icon5 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  gap: 12.01px;
}
.supporting-text44 {
  align-self: stretch;
  position: relative;
  font-size: 10.51px;
  line-height: 15.01px;
  font-weight: 500;
  color: var(--gray-600);
}
.heading-and-icon-parent3 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-10xs);
}
.star-icon23 {
  position: relative;
  width: 15.01px;
  height: 15.01px;
  overflow: hidden;
  flex-shrink: 0;
}
.supporting-text45 {
  position: relative;
  line-height: 18.01px;
}
.star-icon-parent6 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-10xs);
}
.marker-pin-02-icon10 {
  position: relative;
  width: 12.01px;
  height: 12.01px;
  overflow: hidden;
  flex-shrink: 0;
}
.calories2,
.kcal5 {
  width: 50.29px;
  height: 18.01px;
}
.kcal5 {
  position: absolute;
  top: 0;
  right: 0;
  line-height: 14.52px;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.calories2 {
  position: relative;
}
.marker-pin-02-parent9 {
  flex-direction: row;
  gap: var(--gap-10xs);
  font-family: var(--text-md-regular);
}
.categories5,
.content22,
.food-card5,
.marker-pin-02-parent9 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.categories5 {
  align-self: stretch;
  flex-direction: row;
  gap: 12.01px;
  font-size: 12.01px;
  color: var(--gray-500);
  font-family: var(--text-xl-regular);
}
.content22,
.food-card5 {
  width: 288.22px;
  flex-direction: column;
}
.content22 {
  padding: 19.214344024658203px 18.013442993164062px;
  box-sizing: border-box;
  font-size: 18.01px;
  color: var(--gray-900);
}
.food-card5 {
  border-radius: 18.01px;
  background-color: var(--full-white);
  box-shadow: 0 1.5011204481124878px 3px -1.5px rgba(16, 24, 40, 0.06);
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.frame-child5 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 18.01px 18.01px 0 0;
  background-color: #01463d;
  width: 288.22px;
  height: 218.41px;
}
.mask-group-icon6 {
  position: absolute;
  top: 50.89px;
  left: 54.98px;
  width: 182.62px;
  height: 126.7px;
  object-fit: cover;
}
.gim-gi-wrapper4 {
  position: absolute;
  top: 12.28px;
  left: 11.7px;
  border-radius: 9.01px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 4.503360748291016px 6.004481792449951px;
}
.categories6,
.heading-and-icon-parent4 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.heading-and-icon-parent4 {
  flex-direction: column;
  gap: var(--gap-10xs);
  font-size: 18.01px;
  color: var(--gray-900);
}
.categories6 {
  flex-direction: row;
  gap: 12.01px;
  color: var(--gray-500);
  font-family: var(--text-xl-regular);
}
.supporting-text50 {
  position: relative;
  text-decoration: line-through;
  line-height: 18.01px;
}
.heading20 {
  position: relative;
  font-size: 15.01px;
  line-height: 22.52px;
  color: var(--base-black);
}
.pricing3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.supporting-text51 {
  position: relative;
  line-height: 18.01px;
  font-weight: 500;
}
.content23,
.food-card-parent,
.food-card6,
.heading-and-text-inner2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.content23 {
  width: 288.22px;
  padding: 19.214344024658203px 18.013442993164062px;
  box-sizing: border-box;
  font-size: 12.01px;
  color: var(--gray-600);
}
.food-card-parent,
.food-card6 {
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.food-card6 {
  border-radius: 18.01px;
  background-color: var(--full-white);
  box-shadow: 0 3.0022408962249756px 6px -1.5px rgba(16, 24, 40, 0.1),
    0 1.5011204481124878px 3px -1.5px rgba(16, 24, 40, 0.06);
  width: 288.22px;
}
.food-card-parent {
  position: absolute;
  top: 95.81px;
  left: 307.12px;
  gap: 14.41px;
  font-size: 10.51px;
  color: var(--color-gold);
}
.mn-ngon-hm1 {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 25.21px;
}
.vuesaxlineararrow-right-icon1 {
  position: relative;
  width: 20.17px;
  height: 20.17px;
}
.mn-ngon-hm-nay-group {
  position: absolute;
  top: 60.51px;
  left: 20.17px;
  width: 282.39px;
  height: 21.43px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 17.65px;
  color: var(--primary-500);
}
.elements-iphone-x-status-b1 {
  position: absolute;
  top: 6.3px;
  left: 0;
  width: 318.41px;
  height: 38.92px;
}
.mock-up-mobile-app,
.self-care1 {
  position: absolute;
  overflow: hidden;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.self-care1 {
  top: 17.65px;
  left: 340.38px;
  border-radius: 27.72px;
  background-color: var(--color-ivory-100);
  width: 324.27px;
  height: 712.7px;
}
.mock-up-mobile-app {
  top: 76px;
  left: 1270.77px;
  border-radius: 40.72px;
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 56.67491912841797px 68.00990295410156px 88.53px
    rgba(0, 0, 0, 0.07);
  backdrop-filter: blur(30.26px);
  border: 1.8px solid var(--full-white);
  box-sizing: border-box;
  width: 356.77px;
  height: 743.64px;
  font-size: 12.13px;
  color: var(--color-gray-300);
}
.cta-section-parent {
  position: relative;
  width: 1366px;
  height: 592px;
  overflow: hidden;
  flex-shrink: 0;
  color: var(--icterine-500);
}
.logo-and-supporting-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.heading21 {
  align-self: stretch;
  position: relative;
  line-height: 20px;
  font-weight: 600;
}
.button11,
.footer-link {
  flex-direction: row;
  align-items: center;
}
.footer-link {
  display: flex;
  justify-content: flex-start;
}
.button11 {
  overflow: hidden;
  display: none;
  justify-content: center;
  gap: var(--gap-5xs);
}
.text30 {
  position: relative;
  line-height: 18px;
  font-weight: 500;
}
.badge {
  border-radius: 16px;
  background-color: var(--success-50);
  border: 1px solid var(--success-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-11xs) var(--padding-5xs);
  mix-blend-mode: multiply;
  text-align: center;
  font-size: var(--text-xs-medium-size);
  color: var(--success-700);
}
.footer-link2 {
  gap: var(--gap-5xs);
}
.footer-link2,
.footer-link6 {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: var(--gray-600);
}
.footer-links,
.footer-links-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer-links {
  align-self: stretch;
  gap: var(--gap-xs);
  font-size: var(--text-md-regular-size);
  color: var(--primary-500);
}
.footer-links-column {
  gap: var(--gap-base);
}
.footer-link11,
.footer-link8 {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.footer-link8 {
  display: flex;
  color: var(--primary-500);
}
.footer-link11 {
  display: none;
}
.footer-links1,
.footer-links2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  font-size: var(--text-md-regular-size);
}
.footer-links1 {
  align-self: stretch;
  color: var(--gray-600);
}
.footer-links2 {
  color: var(--primary-500);
}
.twitter-icon {
  position: relative;
  width: 20px;
  height: 20px;
}
.bg {
  position: absolute;
  height: 87.5%;
  width: 87.5%;
  top: 6.25%;
  right: 6.25%;
  bottom: 6.25%;
  left: 6.25%;
  border-radius: 56px;
  background-color: #1275b1;
}
.linked-in-icon {
  position: absolute;
  height: 43.75%;
  width: 46.88%;
  top: 25%;
  right: 25%;
  bottom: 31.25%;
  left: 28.13%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.footer-links-column4 {
  flex: 1;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  color: var(--gray-500);
}
.links {
  flex-direction: row;
  align-items: flex-start;
  gap: 56px;
  font-size: var(--text-sm-semibold-size);
  color: var(--primary-300);
}
.container4,
.content24,
.links,
.section {
  display: flex;
  justify-content: flex-start;
}
.content24 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-45xl);
}
.container4,
.section {
  flex-direction: column;
}
.container4 {
  width: 1280px;
  align-items: flex-start;
  padding: 0 var(--padding-13xl);
  box-sizing: border-box;
}
.section {
  align-self: stretch;
  align-items: center;
  padding: 64px 0 var(--padding-29xl);
}
.footer-text {
  flex: 1;
  position: relative;
  line-height: 24px;
}
.social-icon5 {
  position: relative;
  width: 24px;
  height: 24px;
  display: none;
}
.content25,
.social-icons {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.social-icons {
  display: none;
  gap: var(--gap-5xl);
}
.content25 {
  align-self: stretch;
  display: flex;
  gap: var(--gap-13xl);
}
.container5 {
  align-items: flex-start;
  padding: 0 var(--padding-13xl);
}
.container5,
.footer,
.landing-page-option-3,
.section1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.section1 {
  align-self: stretch;
  background-color: var(--icterine-25);
  align-items: center;
  padding: var(--padding-29xl) 0;
  color: var(--gray-500);
}
.footer,
.landing-page-option-3 {
  align-items: flex-start;
}
.footer {
  background-color: var(--icterine-25);
  width: 1366px;
  font-size: var(--text-md-regular-size);
}
.landing-page-option-3 {
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 5985px;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--primary-500);
  font-family: var(--text-md-regular);
}
