[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}
.dark-mode{
    font-family: Quicksand !important;
    background: #F2F4F7;
}
.payment-process {
    background: white;
    gap: 10px;
}
.payment-process .heading {
    display: flex;
    padding: 8px 24px;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    color: #101828;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    border-bottom: 1px solid #EAECF0;
}
.momo-icon {
    display: flex;
    width: 48px;
    height: 48px;
    padding: 12px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #EAECF0;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}
.momo-icon img {
    width: 32px;
    height: 32px;
}
.close-button {
    cursor: pointer;
}
.payment-with-qr-code {
    padding: 24px;
    align-items: flex-start;
}
.qr-code-and-amount {
    gap: 10px;
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    text-align: center;
}
.qr-code {
    display: flex;
    padding: 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 16px;
    background: linear-gradient(48deg, #CD1883 9.34%, #E01B8F 84.33%);
}
.payment-process .heading {
    display: flex;
    padding: 8px 24px;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    color: #101828;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    border-bottom: 1px solid #EAECF0;
}
.tutorial-and-timing .heading {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
}
.tutorial-row {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}
.tutorial-row .step-number {
    display: flex;
    width: 20px;
    height: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 45px;
    background: #EAECF0;
    font-size: 14px;
    font-weight: 400;
}
.payment-timing {
    display: flex;
    padding: 12px 8px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    border-radius: 8px;
    background: #FFF0F6;
}
.payment-timing .heading {
    color: #C11574;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    border-bottom: none;
    text-align: center;
    display: flex;
    justify-content: center;
}
.timing-card {
    display: flex;
    padding: 8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #F3D4E6;
}
.timing-card .time {
    color: #C11574;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
}
.timing-card .unit {
    color: #C11574;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}
.change-other-method {
    color: #0A58FF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}


/* review and rating */
.back-to-previous {
    padding: 16px 0;
    display: flex;
    gap: 8px;
    color: #475467;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}
.rating-service {
    gap: 10px;
    max-width: 1166px;
    padding-bottom: 16px;
    margin: 0 auto;
}
.rating-service .title {
    color: #000;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
}
.order-number-and-date {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    color: #000;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
.review-tabs {
    display: flex;
    height: 34px;
    align-items: flex-start;
    gap: 16px;
    border-bottom: 1px solid #EAECF0;
}
.tab-button-base.active {
    color: #00322A;
    border-bottom: 2px solid #00322A;
}
.tab-button-base {
    display: flex;
    padding: 0px 4px 10px 4px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: #667085;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}
.shipper-review, .dishes-review {
    display: flex;
    padding: 10px 0px;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    border-bottom: 1px solid #EAECF0;
}
.shipper-review .label, .dishes-review .label {
    color: #101828;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
}
.shipper-review img {
    width: 48px;
    height: 48px;
}
.big-rating-stars {
    display: flex;
    height: 48px;
    align-items: center;
    gap: 8px;
}
.big-rating-stars img {
    width: 40px;
    height: 40px;
}
.dishes-review {
    border-bottom: none;
}
.dish-rating-tag {
    display: flex;
    padding: 8px 14px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 24px;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    color: #344054;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}

.dish-rating-tag.active {
    border-radius: 24px;
    border: 1px solid #00473C;
    background: #00473C;
    color: #E6FF55;
}
.review-comment {
    border-radius: 8px;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    padding: 12px 14px;
}
.divider {
    border-bottom: 1px solid #EAECF0;
    height: 1px;
    width: 100%;
}
.review-with-images {
    display: flex;
    align-items: center;
    gap: 24px;
    align-self: stretch;
    padding: 10px 0;
}
.review-with-images img {
    width: 100px;
    height: 100px;
    border-radius: 8px;
}
.review-action-buttons {
    display: flex;
    height: 55px;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    align-self: stretch;
}
.review-action-button {
    display: flex;
    padding: 8px 14px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 24px;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    color: #344054;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    background: #fff;
}
.review-action-button.primary {
    border: 1px solid #00473C;
    background: #00473C;
    color: #E6FF55;
}
.review-rating-wrapper {
    gap: 10px;
}
.rating-text {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
.review-rating-wrapper .small-rating-stars img {
    width: 24px;
    height: 24px;
}
.upload-image-wrapper {
    display: flex;
    width: 48px;
    height: 48px;
    padding: 12px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1.5px dashed #D0D5DD;
}
.upload-image-wrapper.uploaded {
    flex-direction: column;
    gap: 1px;
    color: #D0D5DD;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
}
.upload-image-wrapper img {
    width: 24px;
    height: 24px;
}
.review-rating-row .review-comment {
    max-width: 700px;
}

.review-comment {
    border-radius: 8px;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    padding: 12px 14px;
}
/* my order */
.my-order-wrapper {
    max-width: 954px;
    margin: 0 auto;
}
.my-order-wrapper .heading {
    background: #fff;
}
.my-order-wrapper .title {
    color: #000;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    padding: 8px 16px;
    border-bottom: 1px solid #EAECF0;
}
.tabs {
    background: #FFF;
    padding: 8px 16px;
}
.tabs .tab {
    padding: 0px 4px 10px 4px;
    justify-content: center;
}
.tab.active {
    border-bottom: 2px solid #00322A;
}
.progress-status {
    color: #667085;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}
.badge {
    border-radius: 16px;
    border: 1px solid #EAECF0;
    background: #F9FAFB;
    display: flex;
    padding: 2px 10px;
    align-items: center;
    justify-content: center;
    color: #344054;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}
.tab.active .badge {
    border: 1px solid #66918A;
    background: #CCDAD8;
}
.search-bar {
    padding: 10px 16px;
    border-radius: 4px;
    border: 1px solid #D0D5DD;
    background: #FFF;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    margin: 10px 0;
}
.search-bar input {
    outline: none;
    border: none;
}
.filter-and-sort {
    color: #344054;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}


.filter-button {
    background: #FFF;
    padding: 10px 16px;
    width: fit-content;
    border-radius: 8px;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}
.filter-button:first-child {
    border-top-right-radius: unset;
    border-bottom-right-radius: unset;
}

.filter-button:last-child {
    border-top-left-radius: unset;
    border-bottom-left-radius: unset;
    border-left: none;
}

.filter-button.active {
    border-right: 1px solid #D0D5DD;
    background: #00473C;
    color: #EBFF77;
}
.vertical-divider {
    height: 40px;
    width: 1px;
    border-left: 1px solid #D0D5DD;
}
.sort-latest, .filter-status, .filter-date, .filter-branch,.filter-tag {
    border-radius: 8px;
    border: 1px solid #D0D5DD;
    background: #FFF;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    padding: 10px 16px;
}
.filter-tag{
    background-color: #E0F2DE;
    color: #8dc63f;
    border-color: #8dc63f ;
}
.small-icon {
    width: 20px;
    height: 20px;
}
.order-history-wrapper .heading {
    padding: 16px 16px 8px 16px;
}
.my-order-wrapper .heading {
    background: #fff;
}
.filter-tag .small-icon{
    width: 10px;
    height: 10px;
    top: 5px;
    left: 5px;
}
.order-number {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}
.cart-history-info.tab-restaurant {
    border: 1px solid #EAECF0;
    border-left: none;
    border-right: none;
}

.cart-history-info {
    padding: 8px 24px;
    background: #FFF;
}
.cart-history-info img {
    width: 64px;
    height: 64px;
}
.cart-history-info .chef-name {
    color: #101828;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}
.sub-chef-name {
    color: #475467;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}
.dishes {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
.payment-method-icon {
    padding: 4px 9px;
    border-radius: 4px;
    border: 1px solid #F2F4F7;
    background: #FFF;
    display: flex;
}
.payment-method-icon img {
    width: 16px;
    height: 16px;
}
.delivery-status {
    background: #FFF;
}
.delivery-status-text.success {
    color: #17B26A;
}

.delivery-status-text {
    color: #FEC84B;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}
.rating-stars img {
    width: 24px;
    height: 24px;
}
.delivery-status-group-actions {
    gap: 10px;
}

.delivery-action-button {
    padding: 8px 14px;
    border-radius: 24px;
    border: 1px solid #D0D5DD;
    background: #FFF;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    color: #344054;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}
.favourite-tag {
    color: #344054;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    border-radius: 6px;
    border: 1px solid #D0D5DD;
    background: #FFF;
    padding: 3px 8px 3px 4px;
}
.favourite-tag img {
    width: 16px;
    height: 16px;
}
.food-name {
    color: #101828;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}
.cooking-method {
    color: #0A58FF;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}
.cooking-method .normal-text {
    color: #475467;
}
.calo {
    color: #8DC63F;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}
.delivery-action-button.rating {
    color: #E6FF55;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    padding: 8px 14px;
    border-radius: 24px;
    border: 1px solid #00473C;
    background: #00473C;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}
.delivery-status-text.cancel {
    color: #F04438;
}

/* order detail */
.order-steps {
    background: #fff;
    margin: 10px 0;
    max-width: 1280px;
    width: 100%;
}
.order-detail-title {
    gap: 10px;
}
.order-detail-title .title {
    color: #000;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 38px;
}
.step-base {
    width: 240px;
    height: 76px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    color: #344054;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}
.step-base-icon {
    width: 24px;
    height: 24px;
}


.progress-line.active {
    background: #079455;
}
.progress-line {
    width: 232px;
    height: 2px;
    flex-shrink: 0;
    background: #EAECF0;
}
.progress-line:nth-of-type(1) {
    top: 35px;
    left: 268px;
    z-index: 1;
}
.progress-line:nth-of-type(2) {
    top: 35px;
    left: 524px;
    z-index: 1;
}
.progress-line:nth-of-type(3) {
    top: 35px;
    left: 780px;
    z-index: 1;
}
.order-details-wrapper .order-details {
    min-width: 568px;
    max-width: 568px;
}

.order-details {
    gap: 10px;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    min-width: 477px;
    max-width: 477px;
}
.order-details .order, .order-details .shipper, .order-details .destination, .order-details .packing, .order-details .payment-method {
    background: #fff;
    padding: 0 16px 16px 16px;
}
.order-details .label {
    border-bottom: 1px solid #D0D5DD;
    padding: 8px 0px;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
}
.shipper-avatar {
    min-width: 64px;
    min-height: 64px;
    max-width: 64px;
    max-height: 64px;
}
.shipper-name {
    color: #101828;
    font-size: 16px;
    font-weight: 600;
}
.cart-info {
    padding: 8px;
    background: #fff;
}
.label-section {
    padding: 8px;
    background: #F2F4F7;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    display: flex;
    align-items: center;
    gap: 12px;
    color: #0A58FF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}
.label-section img {
    width: 40px;
    height: 40px;
}
.cart-item img {
    border-radius: 8px;
    width: 56px;
    height: 56px;
}
.cart-item-name {
    color: #101828;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}
.cart-item-description {
    color: #475467;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}
.cart-item .price {
    min-width: 70px;
}
.cart-item .price .price-after {
    color: #101828;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
}
.price-before {
    color: #101828;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    text-decoration-line: line-through;
}
.cart-item .quantity {
    color: #475467;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    padding: 0 8px;
    min-width: 60px;
}

/* confim order*/
.address-wrapper{
    gap: 8px;
    padding: 0 16px;
    background-color: #ffffff;
}
.confirm-order-section .heading{
    border-bottom: 1px #d0d5dd;
    padding: 8px 0px;
}
.confirm-order-section .heading .title{
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
}
.address-wrapper .address{
    gap: 16;
    padding: 8px 0 16px 0;
}
.delivery-timer-section,.packing-section,.payment-section,.voucher-section{
    padding: 0 16px;
    background-color: #ffffff;
}
.delivery-timer{
    border-top: 1px solid #d0d5dd;
    gap: 16px;
    padding: 16px 0;
}
.delivery-timer-day,.delivery-timer-time{
    
    background-color: #00473C;
    border-radius: 6px;
    padding: 10px 14px 10px 14px;
    gap: 8px;
    width: 125px;
    height: 44px;
}
.delivery-timer-day::placeholder,.delivery-timer-time::placeholder{
    color: #e6ff55;
}
